<h2>Search Authors</h2> 
<form action="/authors" method='GET'>
 <input type="text" name='name' >
 <button type='submit'>Search</button>
</form>

<% authors.forEach( author=>{ %>
<div>
   <%= author.name  %> 
</div>
<% })  %> 