<h1>New Author</h1>
<form action="/authors" method='POST'>
    <div>
        <input type="text" name='name' placeholder="Author name" >
    </div>
        <button type="submit">Create</button>
        <a href="/authors">Cancel</a>
</form>